<html>
<head>
    <title>Code Edge</title>
    <style>
        .mail {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .code {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f1f1f1;
            border-radius: 10px;
        }

        .code h2 {
            font-size: 30px;
            color: #000;
        }
    </style>
</head>
<body>
    <div class="mail">
        <h1>Voici votre code de vérification</h1>
        <div class="code">
            <h2>{{ code }}</h2>
        </div>
    </div>
</body>
</html>